<div class="contenedor">
    <section class="contenido">
        <div class="titulo">
            <h1>Habitación</h1>
            <img src=".\assets\images\alerta.png" alt="imagen"/>
        </div>
        <div class="info">
            <p>Paciente: paciente</p>
            <section class="signos">
                <p>Ritmo cardiaco: ritmoCardiaco</p>
                <p>Presión: presion</p>
                <p>Temperatura: temperatura</p>
                <p>Oxigeno: oxigeno</p>
            </section>
            <p>Enfermera: enfermera</p>
            <p>Urgencia</p>
        </div>
    </section>
</div>